<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"lang="en-GB" xml:lang="en-GB">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Ben and Tom's League of Legends Wonderous Statisitics Emporium</title>
    
    <!-- Load Bootstrap and our own css files -->
    {% load static %}
    <link rel="stylesheet" type='text/css' href="{% static "bootstrap/css/bootstrap.min.css" %}">
    <link rel="stylesheet" type='text/css' href="{% static "styles/home.css" %}">
    </head>
    <body> 
        <div class="bg bg-homepage">
            <div class="form-box">
                <form class="form" action="{% url 'loadprofile:form' %}" method="post">
				{% csrf_token %}
                    <label for="summonerInput">Summoner Name</label>
                    <input type="text" name="summonerName" class="form-control" id="summonerInput" required autofocus>
					{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
                    <button type="submit"class="btn btn-primary btn-block btn-lg" >View Your Profile</button>
                <form>
            </div>
        </div>
    </body>
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
        
</html>