<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-GB" xml:lang="en-GB">
    <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Profile Page</title>
    
    
    <!-- scripts -->
    {% load static %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static "scripts/chartPlotter.js" %}"></script>
    
    
    
    <!-- Load Bootstrap and our own css files -->
    
    <link rel="stylesheet" type='text/css' href="{% static "styles/home.css" %}"/>
    </head>
    <body> 
        <div class="bg bg-profile">
            <div class="profile-container">
                <img src="http://ddragon.leagueoflegends.com/cdn/7.10.1/img/profileicon/{{ profile_icon }}.png"/>
                <h1 class="profile-name">{{ summoner_name }}</h1>
                
                <select id="chartSelect" onchange="updateChart()">
                  <option value="cs">cs average per min</option>
                  <option value="gold">gold average per min</option>
                  <option value="xp">xp average per min</option>
                </select>
                
                <svg id = "svgChart" version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" width="800" height="500" viewBox="0 0 800 500">
                    <rect width="100%" height="100%" fill="grey" />
                    <path d="M 65,100 H 75 M 65,200 H 75 M 65,300 H 75 M 65,400 H 75" fill="none" stroke="blue" stroke-width = "5"/>
                    <path d="M 100,435 V 425 M 250,435 V 425 M 400,435 V 425 M 550,435 V 425 M 700,435 V 425" fill="none" stroke="blue" stroke-width = "5"/>
                    <polyline points="75,75 75,425 725,425" stroke="blue" fill="none" stroke-width="5"/>
                    <polyline id="chartLine" points="100,250 250,250 400,250 550,250 700,250" stroke="white" fill="none" stroke-width="5"/>

                    <circle id="point0" cx="100" cy="250" r="6" fill="red" onmouseover="circleHover(this)" onmouseout="circleUnhover(this)"/>
                    <circle id="point1" cx="250" cy="250" r="6" fill="red" onmouseover="circleHover(this)" onmouseout="circleUnhover(this)"/>
                    <circle id="point2" cx="400" cy="250" r="6" fill="red" onmouseover="circleHover(this)" onmouseout="circleUnhover(this)"/>
                    <circle id="point3" cx="550" cy="250" r="6" fill="red" onmouseover="circleHover(this)" onmouseout="circleUnhover(this)"/> 
                    <circle id="point4" cx="700" cy="250" r="6" fill="red" onmouseover="circleHover(this)" onmouseout="circleUnhover(this)"/>
                    <text id="hoverText" x="0" y="0" font-family="Verdana" font-size="30"></text>
                </svg>
            </div>
        </div>
    </body>
</html>