<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"lang="en-GB" xml:lang="en-GB">
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Profile Page</title>
    
    <!-- Load Bootstrap and our own css files -->
    {% load static %}
    <link rel="stylesheet" type='text/css' href="{% static "styles/home.css" %}">
    </head>
    <body> 
        <div class="bg bg-profile">
            <div class="profile-container">
                <img src="http://ddragon.leagueoflegends.com/cdn/7.10.1/img/profileicon/1601.png">
                <h1 class="profile-name">Gurglesprain</h1>
                <h3>LVL 30</h3>
                <button type="button">Renew Data</button>
                <h3>(last updated 4 hours ago)</h3>
                
				<div class = "flex-container">
					<button type="button" class="flex-item">
						<p> 
							Biggest Comeback! 
							<span class="positive_data">{{ comeback_value }} </span> 
						</p>
					</button>
					<button type="button" class="flex-item">
						<p> 
							Biggest Throw! 
							<span class="negative_data">{{ throw_value }} </span> 
						</p>
					</button>
					<button type="button" class="flex-item">
						<p> 
							Biggest Stomp! 
							<span class="positive_data">{{ stomp_value }} </span> 
						</p>
					</button>
					<button type="button" class="flex-item">
						<p> 
							Biggest Loss! 
							<span class="negative_data">{{ loss_value }} </span> 
						</p>
					</button>
				</div>
            </div>
        </div>
    </body>
    
</html>