/* General styles */

body, html {
    height: 100%;
}

.bg {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

/* Homepage styles */
.bg-homepage {
    background-image: url("bg-homepage.jpg");
}

.form-box {
    display: block;
    text-align: center;
}

.form {
  display: inline-block;
  text-align: left;
  min-width: 330px;
  padding: 15px;
  margin: 20%;
  
  background-color: rgba(255, 255, 255, 0.7);
  border: 2px solid #f4bc42;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #000000;
}

.form .form-control {
  margin-bottom: 10px;
}

/* Profile styles */
.bg-profile {
    background-image: url("bg-profile.png");
}