/* General styles */

body, html {
    height: 100%;
    margin: 0;
}

html {
  font-family: sans-serif;
}

.bg {
	position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.4;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
}

/* Homepage styles */
.bg-homepage {
    background-image: url("bg-homepage.jpg");
	
}

.btn-homepage {
  color: #fff;
  background-color: #286090;
  border-color: #204d74;
  font-size: 18px;
  padding: 20px 25px;
  
}

.btn-homepage:hover,
.btn-homepage.hover {
    color: #fff;
    background-color: #183b59;
    border-color: #204d74;
}

.form-box {
    display: block;
    text-align: center;
}

.form {
  
  display: inline-block;
  /*text-align: left;*/
  min-width: 330px;
  padding: 30px;
  margin: 20%;
  
  background-color: rgba(255, 255, 255, 0.7);
  border: 2px solid #f4bc42;
  border-radius: 5px;
  box-shadow: 0px 0px 10px #000000;
}

.form-label {
    text-align: left;
    display: inline-block;
}

.form-control {
   display: block;
  margin-bottom: 10px;
  
  display: block;
  width: 95%;
  height: 34px;
  padding: 6px 12px;
  font-size: 20px;
  color: #FFFFFF;
  line-height: 1.4;
  background-color: #5b5b5b;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Profile styles */
.profile-container {
    width: 800px;
    margin: 0 auto; 
}

.bg-profile {
    background-image: url("bg-profile.jpg");
}

.col {
    width: 40%;
    
    float: left;
    
    padding: 10%;
    border: 1px solid red;
    max-width: 400px;
}

.leftCol {
    margin-left: 10%;
}
.rightCol {
    margin-right: 10%;
}